<footer id="footer">
    Powered by gi hun Kim
    <a href="https://github.com/kkh1902/spring_board" target="_blank" class="bi bi-github"></a>
    <i class="bi bi-reception-4"></i>
</footer>
</body>
</html>