<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<!--index.js 추가-->
<script src="/js/app.js"></script>
<footer id="footer">
    Powered by Kim gi hun
    <a href="https://github.com/kkh1902" target="_blank" class="bi bi-github"></a>
    <i class="bi bi-reception-4"></i>
    <i class="bi bi-phone"> 010-1234-5678</i>
</footer>
</body>
</html>